@charset "UTF-8";
html { position: relative; min-height: 100%; box-sizing: border-box; }

body { font-smooth: always; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin: 0; font-family: "Roboto", sans-serif; font-size: 14px; }

a { cursor: pointer; -webkit-transition: all 0.15s ease; transition: all 0.15s ease; text-decoration: none; }

a:hover { text-decoration: underline; }

label { font-weight: 500; }

hr { border: 0; height: 1px; background: #ddd; margin: 2rem 0; }

*, *:before, *:after { box-sizing: inherit; }

header .logo { padding: 30px 0; max-width: 300px; }

.btn-bs { border-radius: 0; border: 0; font-weight: 600; }

/*

||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
|||██╗|||██╗███████╗|||███████╗|█████╗|███████╗███████╗|||
|||██║|||██║██╔════╝|||██╔════╝██╔══██╗██╔════╝██╔════╝|||
|||██║|||██║█████╗|||||███████╗███████║███████╗███████╗|||
|||╚██╗|██╔╝██╔══╝|||||╚════██║██╔══██║╚════██║╚════██║|||
||||╚████╔╝|██║||||||||███████║██║||██║███████║███████║|||
|||||╚═══╝||╚═╝||||||||╚══════╝╚═╝||╚═╝╚══════╝╚══════╝|||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

MODIFYING THE CONTENTS OF THE MAIN.CSS FILE
DIRECTLY IS A POOR LIFE DECISION.

*/
