doctype transitional
html(lang="en", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")

	head
		base(href="/")
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='')

		block title
			title Page Name

		include partials/stylesheets.jade

	body

		header
			include partials/main-nav.jade

		block content

		include partials/scripts.jade

		block scripts
