$page-bg:                    white;

$border-default:             #ddd;

//-- Font's
$font-regular:               "Roboto";
$font-weight-lt:             300;
$font-weight-md:             500;
$font-weight-bd:             600;

//--- Spacing
$gap-xs:                     5px;
$gap-sm:                     10px;
$gap:                        20px;
$gap-md:                     30px;
$gap-lg:                     40px;

//--- Screen sizes
$screen-xs: 480px;
$screen-sm-min: 767px;
$screen-sm:     768px;
$screen-sm-ls:  1024px;
$screen-md:     1025px;
$screen-lg:     1200px;

//--- Bootstrap variables
$gray-dark:                 #373a3c;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

$brand-primary:             #0275d8;
$brand-success:             #5cb85c;
$brand-info:                #5bc0de;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;
$brand-inverse:             $gray-dark;

$font-size-root:             14px;
$font-family-sans-serif:     -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, $font-regular, "Helvetica Neue", sans-serif;
$grid-gutter-width:          20px;

$btn-font-weight:            $font-weight-md;

$btn-primary-color:          #fff;
$btn-primary-bg:             $brand-primary;
$btn-primary-border:         $btn-primary-bg;

$btn-secondary-color:        $gray-dark;
$btn-secondary-bg:           #fff;
$btn-secondary-border:       #ccc;
