
nav.navbar.navbar-dark.bg-primary
  button.navbar-toggler.hidden-lg-up(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
  #navbarResponsive.collapse.navbar-toggleable-md
    a.navbar-brand(href='index.html')
      img.logo.img-fluid(src='img/vfsass.svg', alt='VFSass')
    ul.nav.navbar-nav
      li.nav-item
        a.nav-link(href="dashboard.html") Dashboard
      li.nav-item
        a.nav-link(href="style-guide.html") Style Guide
      li.nav-item.left
        a.nav-link.left(href="https://v4-alpha.getbootstrap.com/") Bootstrap 4 Alpha - Documentation
