html {
	position:relative;
	min-height:100%;
	box-sizing: border-box;
}
body {
	font-smooth:always;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin:0;
	font-family:$font-regular;
	font-size:14px;
}

a {
	cursor:pointer;
	transition:all 0.15s ease;
	text-decoration:none;
	&:hover {text-decoration:underline}
}

label {
	font-weight:$font-weight-md;
}

hr {
	border:0;
	height:1px;
	background:$border-default;
	margin:2rem 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}
