//== Colors
$gray-base:                  #000 !default;
$gray-darker:                lighten($gray-base, 13.5%);
$gray-dark:                  lighten($gray-base, 20%);
$gray:                       lighten($gray-base, 33.5%);
$gray-light:                 lighten($gray-base, 46.7%);
$gray-lighter:               lighten($gray-base, 93.5%);

$brand-primary:              darken(#428bca, 6.5%);
$brand-success:              #5cb85c;
$brand-info:                 #5bc0de;
$brand-warning:              #f0ad4e;
$brand-danger:               #d9534f;

$text-color:                 #555;
$text-medium:                #777;
$text-light:                 #ccc;

$page-bg:                    white;

$border-default:             #ddd;

//-- Font's
$font-regular:               "Roboto", sans-serif;
$font-weight-lt:             300;
$font-weight-md:             500;
$font-weight-bd:             600;

//--- Spacing
$gap-xs:                     5px;
$gap-sm:                     10px;
$gap:                        20px;
$gap-md:                     30px;
$gap-lg:                     40px;


//--- Bootstrap variables
$font-family-sans-serif:     $font-regular !default;
$grid-gutter-width:          20px;
